RemoteIPHeader {{ salt['pillar.get']('apache:mod_remoteip:RemoteIPHeader', 'X-Forwarded-For') }}
{%- set trusted_proxy = salt['pillar.get']('apache:mod_remoteip:RemoteIPTrustedProxy', []) %}
{%- if trusted_proxy is defined and trusted_proxy %}
RemoteIPTrustedProxy {{ trusted_proxy | join(' ') }}
{%- endif %}
