{% from "apache/map.jinja" import apache with context %}
## This file is managed using salt. Your changes will be lost.
##
## module file for mod_wsgi
##
## PROVIDE: mod_wsgi
## REQUIRE:

LoadModule perl_module libexec/{{ apache.service }}/mod_wsgi.so
