{% from "apache/map.jinja" import apache with context %}

<IfModule mod_remoteip.c>
RemoteIPHeader {{ salt['pillar.get']('apache:mod_remoteip:RemoteIPHeader', 'X-Forwarded-For') }}
{%- set proxy_list = salt['pillar.get']('apache:mod_remoteip:RemoteIPTrustedProxy', []) %}
{%- if proxy_list is defined %}
RemoteIPTrustedProxy {{ proxy_list | join(' ') }}
{%- endif %}
</IfModule>
