{% from "apache/map.jinja" import apache with context %}
## This file is managed using salt. Your changes will be lost.
##
## module file for mod_perl
##
## PROVIDE: mod_perl
## REQUIRE:

LoadModule perl_module libexec/{{ apache.service }}/mod_perl.so

<IfModule mod_perl.c>
  {%- for directive, dvalue in salt['pillar.get']('apache:mod_perl2', {}).items() %}
  {{ directive }} {{ dvalue }}
  {%- endfor %}
</IfModule>
